<div ng-controller="MenuController">
    <h1>{{title}}</h1>
    <h2>{{menuTitle | uppercase}}</h2>
    <ul>
        <li ng-repeat="item in menuItems | orderBy : 'title'">
            <a href="" ng-click="fetchDetails(item)">{{item.title}}</a>
        </li>
    </ul>
    <a href="" ng-show="parentUrl" ng-click="goBackToParent(parentUrl)">Back to parent</a>

    <div>Items in cart: {{getNumberOfItemsInCart()}}</div>

    <div menu-item-details ng-show="selectedItem" item="selectedItem" />
</div>