<div>
    <ul>
        <li>Name: {{item.name}}</li>
        <li>Description: {{item.description}}</li>
        <li>Price: € {{item.price}}</li>
    </ul>
    <button ng-click="addCurrentItem(item)">Add item to cart</button>
</div>